<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <title>Document</title> -->
  <title><%= product.title %></title>
</head>
<body>
  <footer class="footer">
    <div class="footer__wrapper">
     <div class="footer-stores">
      <div class="footer-stores-wrapper">
        <div class="footer-stores__heading">
          Завантажуйте наші додатки
        </div>
        <div class="footer-stores__buttons">
          <img src="img/button-google-play-ua.svg" alt="">
          <img src="img/button-appstore-ua.svg" alt="">
        </div>
      </div>
     </div>
     <div class="footer-top">
        <div class="footer-top__social">
          <div class="footer-top__social-wrapper">
            <div class="call-center">
               <img src="img/clock.svg" width="16px" height="16px" alt=""> 
               Графік роботи Call-центру 
            </div>
            <div class="social-links">
              <img src="img/facebook.svg" width="35px" height="35px" alt="">
              <img src="img/twitter.svg" width="35px" height="35px" alt="">
              <img src="img/youtube.svg" width="35px" height="35px" alt="">
              <img src="img/instagram.svg" width="35px" height="35px" alt="">
              <img src="img/viber.svg" width="35px" height="35px" alt="">
              <img src="img/telegram.svg" width="35px" height="35px" alt="">
            </div>
          </div>
        </div>
        <div class="footer-top__links">
         <div class="footer-top-info"> інформація про компанію
          <ul>
            <li><a href="#">
              про нас
            </a></li>
            <li><a href="#">
             умови використання сайту 
            </a></li>
            <li><a href="#">
              вакансії 
            </a></li>
            <li><a href="#">
              контакти 
            </a></li>
            <li><a href="#">
              усі категорії 
            </a></li>
            <li><a href="#">
              rozetka.pl 
            </a></li>
          </ul>
         </div>
         <div class="footer-top-help">допомога
          <ul>
            <li><a href="#">
              доставка та оплата 
            </a></li>
            <li><a href="#">
              кредит 
            </a></li>
            <li><a href="#">
              гарантія 
            </a></li>
            <li><a href="#">
              повернення товару 
            </a></li>
            <li><a href="#">
              сервісні центри 
            </a></li>
          </ul>
         </div>
         <div class="footer-top-services">сервiси
          <ul>
            <li><a href="#">
              бонусний рахунок 
            </a></li>
            <li><a href="#">
              rozetka premium  
            </a></li>
            <li><a href="#">
              подарункові сертифікати 
            </a></li>
            <li><a href="#">
              rozetka обмін 
            </a></li>
          </ul>
         </div>
         <div class="footer-top-partners">партнерам
          <ul>
            <li><a href="#">
              продавати на розетці 
            </a></li>
            <li><a href="#">
              співпраця з нами 
            </a></li>
            <li><a href="#">
              франчайзинг 
            </a></li>
            <li><a href="#">
              оренда приміщень 
            </a></li>
          </ul>
         </div>
        </div>
     </div>
     <div class="footer-bottom">
       <div class="footer-payments">
        <img src="img/mastercard-logo.svg" alt="">
        <img src="img/visa-logo.svg" alt="">
       </div>
       <div class="footer-copyright">
        © 2001–2023 інтернет-магазин «розетка™» — щоразу що треба 
        <span> тм використовується на підставі ліцензії правовласника rozetkaltd </span>
       </div>
     </div>
    </div>
  </footer>
</body>
</html>