<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="header-wrapper">
     <div class="header-menu">
       <img src="img/menu.svg" width="24px" height="24px" alt="">
    </div>
     <div class="header__logo">
      <img src="img/logo.svg" class="header__logo-svg" alt="">
     </div>
     <div class="header__catalog">
      <img src="img/catalog.svg" width="32px" height="32px" aalt="">
      <p>Каталог</p>
    </div>
     <div class="header-search">
        <img src="img/search.svg" width="24px" height="24px" alt="">
        <input type="text" placeholder="Я шукаю..." class="search">
        <img src="img/microphone.svg" width="16px" height="16px" alt="">
      <button class="search-button">Знайти</button>
     </div>
     <div class="header-actions"> 
     <span>RU</span><span>UA</span>
      <img src="img/user.svg" width="24px" height="24px" alt="">
      <img src="img/basket.svg" width="24px" height="24px" alt="">
     </div>
    </div>
  </header>
</body>
</html>