<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
  <link rel="stylesheet" href="styles//main.css">
  <title>Condensed milk</title>
</head>

<body>
  <div class="container">
    <header>
      <div class="header-wrapper">
        <h3>Молоко</h3>
        <span>Незбиране згущене</span>
        <br>
        <span>з цукром</span>
    </header>
    <div class="logo-wrapper">
      <img class="logo" height="120px" width="120px" src="https://cdn.27.ua/799/6c/f0/3239152_1.jpeg">
    </div>
    <div class="medal-wrapper">
      <img class="medal-img" height="100px" width="100px"
        src="https://www.favor.com.ua/images/medal/svg/2017-shine.svg">
    </div>
    <footer>
      <div class="netto-weight">
        <span>Маса нетто 440 грам</span>
      </div>
      <div class="procent-fat">
        <span>8.5% жиру</span>
      </div>
    </footer>
  </div>
</body>

</html>