<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Rozetka</title>
</head>
<body>
  <header class="header">
    <div class="header-wrapper">
     <div class="header-menu">
      <p>___</p>
      <p>___</p>
      <p>___</p>
    </div>
     <div class="header__logo">
      <img src="img/logo.svg" class="header__logo-svg" alt="">
     </div>
     <div class="header__catalog">
      <img src="img/catalog.svg" width="32px" height="32px" aalt="">
      <p>Каталог</p>
    </div>
     <div class="header-search">
        <img src="img/search.svg" width="24px" height="24px" alt="">
        <input type="text" placeholder="Я шукаю..." class="search">
        <img src="img/microphone.svg" width="16px" height="16px" alt="">
      <button class="search-button">Знайти</button>
     </div>
     <div class="header-actions"> 
     <span>RU</span><span>UA</span>
      <img src="img/user.svg" width="24px" height="24px" alt="">
      <img src="img/basket.svg" width="24px" height="24px" alt="">
     </div>
    </div>
  </header>
  <div class="rzk__product__top">
    <div class="departments-wrapper">
      <ul class="departments-list">
        <li>
          <img src="img/house.svg" width="16px" height="16px" alt="">
        </li>
        <li>
          <img src="img/arrow-right.svg" width="10px" height="10px" alt="">
          <a href="#">
            <span>Алкогольні напої та продукти харчування</span>
          </a>
        </li>
        <li>
          <img src="img/arrow-right.svg" width="10px" height="10px" alt="">
          <a href="#">
            <span>Харчові продукти</span>
          </a>
        </li>
        <li>
          <img src="img/arrow-right.svg" width="10px" height="10px" alt="">
          <a href="#">
            <span>Молочні продукти</span>
          </a>
        </li>
        <li>
          <img src="img/arrow-right.svg" width="10px" height="10px" alt="">
          <a href="#">
            <span>Згущене молоко</span>
          </a>
        </li>
        <li>
          <img src="img/arrow-right.svg" width="10px" height="10px" alt="">
          <a href="#">
            <span>Згущене молоко Nature's Charm</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="product__title">
     <h1>Кокосове згущене молоко Nature's Charm 200 г (093856992551)</h1> 
    </div>
    <div class="product__rating">
      <div class="product__rating-stars">
        <img src="img/star.svg" width="17px" height="17px" alt="">
        <img src="img/star.svg" width="17px" height="17px" alt="">
        <img src="img/star.svg" width="17px" height="17px" alt="">
        <img src="img/star.svg" width="17px" height="17px" alt="">
        <img src="img/star.svg" width="17px" height="17px" alt="">
        <a href="#">Залишити відгук</a>
      </div>
      <div class="product__rating-code">
       <span>Код: </span> <span>373947606</span>
      </div>
    </div>
  </div>
  <div class="rzk__product__navbar">
    <ul class="product-tabs">
      <li>
        <a href="#">
          <span>Усе про товар</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Характеристики</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Залишити відгук</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Питання</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Фото</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Купують разом</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="rzk__product__tab-main">
    <div class="product-about">
      <div class="product-about__left">
        <img src="img/products/cocos-img.png" alt=""> 
      </div>
      <div class="product-about__right">
        test2 
      </div>
    </div>
  </div>
  <div class="content"></div>
  <footer class="footer">
    <div class="footer__wrapper">
     <div class="footer-stores">
      <div class="footer-stores-wrapper">
        <div class="footer-stores__heading">
          Завантажуйте наші додатки
        </div>
        <div class="footer-stores__buttons">
          <img src="img/button-google-play-ua.svg" alt="">
          <img src="img/button-appstore-ua.svg" alt="">
        </div>
      </div>
     </div>
     <div class="footer-top">
        <div class="footer-top__social">
          <div class="footer-top__social-wrapper">
            <div class="call-center">
               <img src="img/clock.svg" width="16px" height="16px" alt=""> 
               Графік роботи Call-центру 
            </div>
            <div class="social-links">
              <img src="img/facebook.svg" width="35px" height="35px" alt="">
              <img src="img/twitter.svg" width="35px" height="35px" alt="">
              <img src="img/youtube.svg" width="35px" height="35px" alt="">
              <img src="img/instagram.svg" width="35px" height="35px" alt="">
              <img src="img/viber.svg" width="35px" height="35px" alt="">
              <img src="img/telegram.svg" width="35px" height="35px" alt="">
            </div>
          </div>
        </div>
        <div class="footer-top__links">
         <div class="footer-top-info"> інформація про компанію
          <ul>
            <li><a href="#">
              про нас
            </a></li>
            <li><a href="#">
             умови використання сайту 
            </a></li>
            <li><a href="#">
              вакансії 
            </a></li>
            <li><a href="#">
              контакти 
            </a></li>
            <li><a href="#">
              усі категорії 
            </a></li>
            <li><a href="#">
              rozetka.pl 
            </a></li>
          </ul>
         </div>
         <div class="footer-top-help">допомога
          <ul>
            <li><a href="#">
              доставка та оплата 
            </a></li>
            <li><a href="#">
              кредит 
            </a></li>
            <li><a href="#">
              гарантія 
            </a></li>
            <li><a href="#">
              повернення товару 
            </a></li>
            <li><a href="#">
              сервісні центри 
            </a></li>
          </ul>
         </div>
         <div class="footer-top-services">сервiси
          <ul>
            <li><a href="#">
              бонусний рахунок 
            </a></li>
            <li><a href="#">
              rozetka premium  
            </a></li>
            <li><a href="#">
              подарункові сертифікати 
            </a></li>
            <li><a href="#">
              rozetka обмін 
            </a></li>
          </ul>
         </div>
         <div class="footer-top-partners">партнерам
          <ul>
            <li><a href="#">
              продавати на розетці 
            </a></li>
            <li><a href="#">
              співпраця з нами 
            </a></li>
            <li><a href="#">
              франчайзинг 
            </a></li>
            <li><a href="#">
              оренда приміщень 
            </a></li>
          </ul>
         </div>
        </div>
     </div>
     <div class="footer-bottom">
       <div class="footer-payments">
        <img src="img/mastercard-logo.svg" alt="">
        <img src="img/visa-logo.svg" alt="">
       </div>
       <div class="footer-copyright">
        © 2001–2023 інтернет-магазин «розетка™» — щоразу що треба 
        <span> тм використовується на підставі ліцензії правовласника rozetkaltd </span>
       </div>
     </div>
    </div>
  </footer>
</body>
</html>