<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="342098224049-ghg1ft2qpmb0gjvd08hsmbsds9qhoj6d.apps.googleusercontent.com">
  <script>
  </script>
  <script src="https://accounts.google.com/gsi/client" async></script>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1> 
  <div id="g_id_onload"
       data-client_id="342098224049-ghg1ft2qpmb0gjvd08hsmbsds9qhoj6d.apps.googleusercontent.com"
       data-context="signin"
       data-login_uri="http://localhost:4050"
       data-itp_support="true">
  </div>
</body>
</html>