<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/viewArticle.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"
    integrity="sha512-06NZg89vaTNvnFgFTqi/dJKFadQ6FIglD6Yg1HHWAUtVFFoXli9BZL4q4EO1UTKpOfCfW5ws2Z6gw49Swsilsg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Document</title>
</head>

<body>
  <div class="content">
    <div class="posts">
      <div class="posts-wrapper">
        <div class="article-title">Article#1</div>
        <nav class="move">
          <div class="previous-button"> < Previous</div> 
          <div class="next-button"> Next > </div>
        </nav>
        <div class="article-body">Bla bla bla bla</div>
        <div class="article-author">Author#1</div>
        <nav class="navigation">
          <ul class="author__list">
            <li class="author__list-item ">
              <a href="http://localhost:3333/author">Authors</a>
            </li>
            <li class="author__list-item ">
              <a href="http://localhost:3333/article">Add article</a>
            </li>
            <li class="author__list-item ">
              <a href="http://localhost:3333/viewArticle">View Article</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <script src="/js/viewArticle.js"></script>
</body>

</html>