.hero{
  background-color: #141414;
  display: flex;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 18px;
  width: 400px;
  height: 100px;
  color: gold;
  font-size: 20px;
};

.li {
 list-style-type: none;
 color: white
};