.cost_item {
  background-color: green;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  padding-top: 5px;
  margin-bottom: 20px;
  width: 400px; 
  height: 40px;
  border-radius: 5px;
  color: white;
};