html {
  box-sizing: border-box;
}

*,*::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

body {
  background-color: white;
  font-family: Arial;
}

/* HEADER */
.header {
  max-width: 100%;
  height: 70px;
  background-color: #221f1f;
}

.header-wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
}

.header-menu {
  color: #fff; 
}

.header__logo {
  color: #fff; 
  display: flex;
  align-items: end;
}

.header__logo-svg {
  display: flex;
  align-items: end;
}

.header__catalog {
  width: 128px;
  background-color: #4e4c4c;
  border-radius: 8px;
  color: #fff;
  display: flex;
}

.search {
 width: 500px;
 height: 30px;
}

.search-button {
  background-color: #00a046;
  font-size: 16px;
  color: #fff;
  padding-left: 16px;
  padding-right: 16px;
}

/* MAIN_CONTENT */
.rzk__product__top {
  width: 100%;   
}

.departments-list {
 display: flex; 
}

.product-tabs {
  color: #3e77aa;
  display: flex;
}

.product__rating {
  font-size: 14px;
  color: #3e77aa;
  display: flex;
  justify-content: space-between;
}

.product__rating-code {
  color: #221f1f;  
}

.rzk__product__navbar {
  width: 100%;   
  background-color: #f5f5f5; 
  height: 40px;
}

.rzk__product__tab-main {
  max-width: 1400px;  
  height: 720px;
}

.product-about {
  display: flex;
  justify-content: space-between;
}
/* FOOTER */
footer {
  max-width: 100%;  
  background-color: #d3eedf;
}

.footer-stores {
  background-color: #00a046;
  padding: 20px;
}

.footer-stores-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-stores__heading {
  width: 1075px;  
  height: 18px;
  padding-top: 10px;
  font-size: 20px; 
  text-align: center;
  color: #fff;
}

.footer-stores__buttons {
  width: 264px;
  display: flex;
  justify-content: space-between;
  font-size: 20px; 
}

.footer-top {
  background-color: #fff;
  max-width: 1800px;
  padding: 24px 20px 0 20px;
  height: 200px;
  display: flex;
}

.footer-top__social {
  color: #3e77aa;
  width: 300px;  
}

.footer-top__links {
  width: 1000px;
  display: flex;
  color: #3e77aa;
  justify-content: space-between;
}

.footer-bottom {
  background-color: #fff;
  display: flex;
  font-size: 12px;
  padding: 30px 20px 30px 20px;      
  justify-content: space-between;
}