<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/post.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.6/axios.min.js"
    integrity="sha512-06NZg89vaTNvnFgFTqi/dJKFadQ6FIglD6Yg1HHWAUtVFFoXli9BZL4q4EO1UTKpOfCfW5ws2Z6gw49Swsilsg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Posts</title>
</head>
<body>
   <div class="post__wrapper">
    <div class="post">
        <div class="post-title">
            <span>Post title</span>
        </div>
        <div class="post-body">
            <span>Post body</span>
        </div>
        <div class="commets__wrapper">
            <div class="comment">
                <span>Cool Post</span>
            </div>
            <button class="repl">Reply</button>
        </div>
    </div>
   </div>
  <script type="module" src="/js/post.js"></script>
</body>
</html>